**Repository**: https://github.com/EstebanMqz/SP500-Risk-Optimized-Portfolios-PostCovid-ML

### <font color= 'orange'> **S & P 500 Risk Optimized Portfolios PostCovid ML $yr_{(2020-2023)}$**<font>

In [1]:
#Import dependencies
import functions as fn
import data as dt
import visualizations as vs

#Libraries
import numpy as np
import pandas as pd
import matplotlib as plt

import scipy
import scipy.stats as st
from scipy import optimize

import sklearn
from sklearn.neighbors import KernelDensity
from sklearn.model_selection import GridSearchCV
from sklearn import metrics

from yahoofinancials import YahooFinancials 
from tabulate import tabulate
import IPython.display as d

import datetime 
import time

import warnings
warnings.filterwarnings("ignore")
warnings.filterwarnings("ignore", category=UserWarning)

c:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

##### <span style='color:red'> Project Creators:</span> Create requirements.txt file.<br>

In [3]:
docstring = """
# -- --------------------------------------------------------------------------------------------------  -- # 
# -- project: S&P500-Risk-Optimized-Portfolios-PostCovid-ML                                              -- # 
# -- script: requirements.txt: txt file to download Python modules for execution                         -- # 
# -- author: EstebanMqz                                                                                  -- # 
# -- license: CC BY 3.0                                                                                  -- # 
# -- repository: SP500-Risk-Optimized-Portfolios-PostCovid-ML/blob/main/requirements.txt                 -- #                                  
# -- --------------------------------------------------------------------------------------------------  -- # 
\n
"""

fn.get_requirements(docstring)

requirements.txt file created in local path: c:\Users\Esteban\Desktop\Projects\Github\Repos_To-do\Languages\Python\Fin_Sim\Simulation_Course_Exams\SP500-Risk-Optimized-Portfolios-ML\requirements.txt

##### <span style='color:green'> Project Users:</span> Install libraries in requirements.txt file.<br>

In [4]:
dt.library_install("requirements.txt")

Requirements installed.

# -- --------------------------------------------------------------------------------------------------  -- #
# -- project: S&P500-Risk-Optimized-Portfolios-PostCovid-ML                                              -- #
# -- script: requirements.txt: txt file to download Python modules for execution                         -- #
# -- author: EstebanMqz                                                                                  -- #
# -- license: CC BY 3.0                                                                                  -- #
# -- repository: SP500-Risk-Optimized-Portfolios-PostCovid-ML/blob/main/requirements.txt                 -- #
# -- --------------------------------------------------------------------------------------------------  -- #


numpy >= 1.23.5
pandas >= 1.4.4
matplotlib >= 3.5.3
scipy >= 1.7.3
sklearn >= 1.0.2
jupyter >= 1.0.0
yahoofinanicals >= 1.14
tabulate >= 0.8.9
IPython >= 8.12.0

*Fetching a lot of data from Yahoo Finance by batches is required to avoid host disruptions. Other sources could be used too.*<br>
These are the tickers in the S&P 500 from A-Z: <br>

In [20]:
tickers=fn.SP500_tickers(50)
tickers[0][:5], tickers[-1][-5:]

(['MMM', 'AOS', 'ABT', 'ABBV', 'ACN'], ['ZION', 'ZTS'])

In [16]:
data = pd.concat([dt.get_historical_price_data(tickers[i][j], 6) for i in range(0, len(tickers)) for j in range(0, len(tickers[i]))], axis=1)

In [18]:
data.head()

,MMM,AOS,ABT,ABBV,ACN,ATVI,ADM,ADBE,ADP,AAP,...,WTW,GWW,WYNN,XEL,XYL,YUM,ZBRA,ZBH,ZION,ZTS
formatted_date,,,,,,,,,,,,,,,,,,,,,
2017-05-03,162.043854,48.743839,39.475151,51.116432,109.965675,51.255013,34.894707,134.850006,86.048775,132.375244,...,122.974777,172.568222,117.194092,37.648579,46.482605,61.688683,93.940002,110.681953,34.834156,53.488342
2017-05-04,163.585312,49.456680,40.260685,51.491741,110.440979,51.507210,35.815437,134.610001,87.451859,134.219681,...,130.618866,169.673080,115.769318,37.825409,47.934036,62.348507,94.290001,108.290924,34.911404,56.644333
2017-05-05,163.495132,49.925892,40.305840,51.307919,111.080849,52.215321,35.840771,134.839996,87.619537,134.377319,...,132.325714,171.202072,113.739258,37.934875,48.659733,62.637730,96.559998,108.003632,34.980083,57.221653
2017-05-08,162.880142,49.483749,40.341949,50.710514,110.706100,52.370518,36.288464,135.119995,85.333954,136.221771,...,132.408264,170.975891,111.932678,38.002243,48.566692,62.493114,96.690002,108.346542,35.366371,56.586601
2017-05-09,162.314377,49.483749,40.332912,50.679886,110.669525,52.981621,35.781651,135.600006,85.669304,135.433914,...,130.407822,169.881195,115.448708,37.699104,48.241055,62.149662,98.449997,109.968353,35.134594,57.183159

In [29]:
data.tail()
data.to_csv("sp500.csv")

,MMM,AOS,ABT,ABBV,ACN,ATVI,ADM,ADBE,ADP,AAP,...,WTW,GWW,WYNN,XEL,XYL,YUM,ZBRA,ZBH,ZION,ZTS
formatted_date,,,,,,,,,,,,,,,,,,,,,
2023-04-25,104.370003,68.265244,109.970001,164.899994,270.700012,86.739998,75.900002,369.589996,211.690002,123.779999,...,239.589996,671.830017,111.629997,71.180000,102.919998,137.809998,284.100006,139.059998,26.730000,173.020004
2023-04-26,102.919998,67.200005,108.750000,161.800003,271.209991,76.809998,77.029999,363.059998,210.830002,122.330002,...,237.770004,659.820007,109.449997,69.680000,100.980003,138.009995,280.420013,139.080002,26.389999,172.940002
2023-04-27,105.330002,68.559998,109.500000,148.869995,275.450012,77.610001,78.010002,371.420013,216.160004,124.900002,...,225.809998,696.359985,110.220001,70.260002,103.830002,139.800003,284.119995,138.350006,26.580000,173.949997
2023-04-28,106.220001,68.290001,110.470001,151.119995,280.290009,77.709999,78.080002,377.559998,220.000000,125.529999,...,231.600006,695.570007,114.279999,69.910004,103.839996,140.580002,288.029999,138.440002,27.860001,175.779999
2023-05-01,105.849998,70.139999,111.110001,153.710007,279.420013,77.430000,77.800003,374.149994,221.119995,125.470001,...,233.240005,695.960022,115.599998,70.169998,104.500000,142.229996,287.450012,138.830002,26.820000,179.559998

Now that we have downloaded our data, we can start analyzing it with $R_{yr}$, $\sigma_{yr}$ and some $Ratios$ as an example: <br>

$R_{Sharpe} = \frac{Returns - {rf}}{\sigma}$ <br>
$R_{Sortino} = \frac{Returns - {rf}}{\sigma_{downside}}$ <br>

In [2]:
SP = pd.read_csv("Data/sp500.csv", index_col=0)
vs.summary(SP, 0.025)[1]

                Annualized Return  Volatility  Sharpe Ratio  Sortino Ratio
Financial Data
MMM                     -0.044294    0.244894     -0.282955      -0.380644
AOS                      0.232198    0.312727      0.662555       1.094560
ABT                      0.116062    0.247447      0.368004       0.542793
ABBV                     0.269686    0.223724      1.093694       1.466507
ACN                      0.199352    0.273818      0.636744       0.934446
...                           ...         ...           ...            ...
WYNN                     0.257508    0.537663      0.432442       0.751549
XEL                      0.089630    0.213344      0.302938       0.468561
XYL                      0.192052    0.299046      0.558615       0.821882
YUM                      0.213643    0.210519      0.896084       1.390092
ZBRA                     0.153283    0.377449      0.339869       0.502884

[500 rows x 4 columns]